body { 
	padding-top: 70px;
	padding-bottom: 70px; 
}
.size-64-64 {
	height:64px;
	width:64px;
}
.default-background {
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.padding-5 {
	padding:5px 5px;
}
.highlight {
	background-color: #f8f8f8;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-bordered > thead > tr > th.index {
	width:60px;
	text-align: center;
}
.table-bordered > thead > tr > th {
    border-bottom-width: 0;
}
.table-bordered > thead > tr:nth-child(2n+1), 
.table-bordered > tbody > tr:nth-child(2n+2) {
   background-color: #F8F8F8;
}
.table-hover > tbody > tr:hover {
  background-color: #E8E8D8;
}
.columndate {
	width: 160px;
	text-align: center;
}
.list-group-item .form-group:last-child {
	margin-bottom:0px;
}
.list-group-item-heading.form-group {
	margin-bottom:15px;
}
.list-group-item-minheight {
	min-height: 55px;
}
@media (max-width: 767px) {
	.nav-padding-rl0 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.mynavbar-form {
		margin-top: 0px;
		margin-bottom: 0px;
		border-bottom:0px;
	}
}
@media (min-width: 768px) {
	.mynavbar-form {
		margin-top: 8px;
		margin-bottom: 8px;
		border-bottom:0px;
	}
	.nav-padding-rl0 {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-image-3 {
		width:33.33333333%;
	}
}